doctype html
html
  head
    title Bitcoin Stats
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet', href='bower_modules/angular-material/angular-material.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='css/main.css')
    script(src='bower_modules/angular/angular.js')
    script(src='bower_modules/angular-animate/angular-animate.js')
    script(src='bower_modules/angular-aria/angular-aria.js')
    script(src='bower_modules/angular-material/angular-material.js')
    script(src='bower_modules/angular-route/angular-route.js')

  body(ng-app="app" ng-view layout="row")
    script(src='app.js')
