/* SIDENAV */
md-sidenav,
md-sidenav.md-locked-open {
  min-width: 190px !important;
  width: 190px !important;
  max-width: 190px !important;
}

md-sidenav md-toolbar {
  min-height: 40px;
}

.sidenav {
  margin: 5px 0;
  padding: 0;
}

.sidenav ul {
  padding: 0;
}

.sidenav md-icon {
  margin-top: -12px;
  position: absolute;
  left: 8px;
  top: 50%;
}

.sidenav .md-button {
  border-radius: 0;
  line-height: 1em;
  margin: 0;
  text-align: left;
  width: 100%;
  padding: 12px 44px;
}

span#last-updated {
  font-size: 10px;
  text-align: end;
  margin: 0 5px 5px 0;
}


/* CHARTS */
#priceChart {
  width: 100%;
  height: 100%;
}