md-sidenav,
md-sidenav.md-locked-open {
  min-width: 190px !important;
  width: 190px !important;
  max-width: 190px !important;
}

md-sidenav md-toolbar {
  min-height: 40px;
}

span#last-updated {
  font-size: 10px;
  text-align: end;
  margin: 0 5px 5px 0;
}