<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="true">
  <md-toolbar class="md-hue-2" layout-align="center center" layout-padding>
    &#x20BF;itcoin $tatistics
  </md-toolbar>
  <ul class="sidenav">
    <li ng-repeat="item in vm.menu">
      <md-button ui-sref="item.state" ng-click="">
        <md-icon>{{item.icon}}</md-icon>
        <span>{{item.title}}</span>
      </md-button>
    </li>
  </ul>
  <span flex></span>
  <md-switch style="margin: 5px">
    &nbsp; Scroll Pages
  </md-switch>
</md-sidenav>

<div layout="row" class="relative" layout-fill role="main">
  <md-content layout="column" flex md-scroll-y>
    <md-card flex>
      <md-card-content flex layout="row" ui-view>
        Price
      </md-card-content>
      <span id="last-updated">last updated: {{vm.lastUpdated}}</span>
    </md-card>
  </md-content>
</div>