<md-toolbar class="md-hue-2" layout-align="center center" layout-padding>
  Bitcoin Statistics
</md-toolbar>
<ul class="sidenav">
  <li ng-repeat="item in menu">
    <md-button ui-sref="{{item.state}}" ui-sref-active="activeNav">
      <md-icon>{{item.icon}}</md-icon>
      <span>{{item.title}}</span>
    </md-button>
  </li>
</ul>
<span flex></span>

<md-table-container>
  <table md-table id="test">
    <thead md-head>
    <tr md-row>
      <th md-column>Exchange</th>
      <th md-column md-numeric>Price</th>
      <th md-column md-numeric>Volume</th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="stats in exchanges">
      <td md-cell>{{stats.display_name}}</td>
      <td ng-class="{
        'priceUp': stats.symbols.BTCUSD.last < stats.symbols.BTCUSD.ask,
        'priceDown': stats.symbols.BTCUSD.last > stats.symbols.BTCUSD.ask }" md-cell>
        ${{stats.symbols.BTCUSD.last}}
      </td>
      <td md-cell>{{stats.symbols.BTCUSD.volume}}</td>
    </tr>
    </tbody>
  </table>
</md-table-container>
<div id="lastUpdated" layout="row" layout-align="space-around center">
  <div>
    Last Updated: {{lastUpdated}}
  </div>
  <md-button class="md-icon-button" aria-label="Refresh" ng-click="getBtcPrice()">
    <md-icon>refresh</md-icon>
  </md-button>
</div>

